*,html,body{
    margin: 0;
    padding: 0;
}
body{
    height: relative;
}
/* Navbar */
header{
    position: relative;
    width: 100%;
    background-color: #84B154;
}
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
    opacity: 1;
}
.tombol{
    background-color: white;
    border-color: #4BC1DD;
    text-transform: uppercase;
    border-radius: 30px;
    color:#4BC1DD;
    width: 100%;
    font-family: Karla;
}
.tombol1{
    background-color: #4BC1DD;
    text-transform: uppercase;
    border-radius: 30px;
    color: white;
    width: 100%;
    font-family: Karla;
}
.bisa-belajar{
    width: 100%;
    height: 400px;
    background-color: white;
}
.belajar{
    margin-top: 50px;
}
.belajar a{
    color: black;
}
.belajar a:hover{
    display: block;
    text-decoration: none;
}
.single-belajar{
    height: 100px;
    margin-bottom: 30px;
}
.belajar-icon{
    background-color: grey;
    width: 70px;
    height: 70px;
    margin-right: 5px;
}
.belajar-icon img{
    width: 50px;
    height: 50px;
    margin: 15%;
}
.belajar-details{
    margin-left: 15px;
}

.bisa-gambar{
    background-image: url(../img/school.svg);
    height: 100%;
    width: 300px;
    margin-top: 10px;


}
/* statistik */
.statistik{
    background-color: #4BC1DD;
    height: 200px;
}
.statistik h3{
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}
.statistik p{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* penerima beasiswa */
.owl-carousel{
    background-color: white;
    height: 400px;
}
.item img{
    width: 100px;
	height: 100px;
	border-radius: 100%;
}
.item p{

}
.item h3{

}
.item h5{

}


/* footer */
footer{
    padding: 50px;
    background-color: #5aac78;
    color: beige;
}
.ulfoot{
    border: 20px;
}
.ulfoot li{
    list-style: none;
}
footer img{
    margin: 10px;
    width: 30px;
    height: 30px;
}
#judul{
    font-size: 70%;
    color: black;
}
.anotherevent h2{
    color: white;
    padding: 50px 0;
    font-size: 35px;
    text-align: center;
}
@media (max-width: 767.98px) { 
    header{
        position: relative;
        width: 100%;
        background-color: #84B154;
    }
 }

@media (min-width: 992px) { 
    header{
        position: relative;
        width: 100%;
        background-color: #84B154;
    }
    .navbar-brand{
        font-family: Viga;
        font-size: 32px;
        opacity: 0.9;
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
        color: white;
        font-family: Karla;
        opacity: 0.9;
    }
    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #4BC1DD;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .garis{
        width: 1px;
        height: 40px;
        background-color: white;
    }
    .tombol{
        background-color: white;
        border-color: #4BC1DD;
        text-transform: uppercase;
        border-radius: 30px;
        margin-left: 10px;
        color:#4BC1DD;
        width: 100px;
        font-family: Karla;
    }
    .tombol1{
        background-color: #4BC1DD;
        text-transform: uppercase;
        border-radius: 30px;
        margin-left: 10px;
        color: white;
        width: 100px;
        font-family: Karla;
    }
}